/* Position the canvas element */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html { height: 100%; }
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
}

h1 {
    text-align: center;
}
canvas {
    margin: 0 auto;
    border: 2px solid #000000;
}
